.kaufman__triangle {
  background-image: url('../../../images/kaufman-triangle.svg');
  height: 877px;
  width: 877px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  top: 0;
  right: -210px;
  z-index: -1;
}
